@keyframes anim_op {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5
    }
}
@keyframes anim_width{
    from{
       width: 2%
    }
    to{
        width: 70%;
    }
}
img{
    margin-top:5%;
    margin-left: 44%;
    height: 200px;
}
#SearchBar{
    font-family: 'Roboto', sans-serif;
    color: #00c4ff;
    margin-left: 35%;
    font-size: 15px;
    width: 34%;
}
#radioBtn{
    padding: 20%;
}
#srchBar{
    padding-left: 5px;
    height: 36px;
    width: 85%;
    font-size: 15px;
    background-color: #dbdbdb;
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
}

#srchBtn{
    padding-top: 1px;
    height: 36px;
    width: 15%;
    background-color: #00c4ff;
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    border-left: 2px, #00c4ff;
}
 /*#srchBtn{
    top: 0px;
    height: 36px;
    padding-top: 4px;
    width: 15%;
    background-color: #00c4ff;
    border-width: 0px;
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: white;
    border-left: 2px, #00c4ff;
}*/
.container{
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
    color: black;
}
.Catalog{
    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #00c4ff;
    height: 150px;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    animation: anim_op 1.5s;
}
#AddFormButton{
    position: fixed;
    left: 91%;
    top: 81%;
    font-size: 42pt;
    font-weight: 100;
    border-width: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 40pt;
    height: 80pt;
    width: 80pt;
    border-color: none;
    background-color: #00c4ff;
    color: white;
}
button, button:active, button:focus{
    outline: none;
}
#Download{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 30px;
    height: 25%;
    width: 15%;
    background-color: #00c4ff;
    border-width: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    position: relative;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
}
#inform{
    display: inline-block;
    margin-left: 15%;
    position: relative;
}
