@keyframes anim_op {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5
    }
}
.search{
    animation: anim_op 5s;
    height: 30%;
    width: 44%;
    position: relative;
    background-color: white;
}
#srchBar{
    overflow: visible;
	border: 0;
	padding: 0;
	cursor: pointer;
    height: 27px;
    width: 75%;
    font-size: 12px;
    font-weight: inherit;
    background-color: #dbdbdb;
    border-width: 0px;
    position: relative;
    font-family: Tahoma, fantasy;
}

 #srchBtn{
    height: 27px;
    width: 15%;
    top: 2px;
    background-color: #00c4ff;
    border-width: 0px;
    font-family: Arial Black ,sans-serif;
    font-size: 20px;
    color: white;
    border-left: 5px;
    border-color: #00c4ff;
}
.win.gecko #srchBtn{
    height: 27px;
    width: 15%;
    top: 2px;
    background-color: #00c4ff;
    border-width: 0px;
    font-family: Arial Black ,sans-serif;
    font-size: 20px;
    color: white;
    border-left: 5px;
    border-color: #00c4ff;
}
.container{
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
    color: black;
}
.Catalog{
    margin-left: 15%;
    width: 70%;
    margin-top: 20px;
    padding: 10px;
    font-family: Tahoma,sans-serif;
    font-size: 20px;
    color: #00c4ff;
    height: 150px;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    animation: anim_op 3s;
}
