@keyframes anim_op {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.search{
    animation: anim_op 3s;
    height: 4.9%;
    width: 44%;
}
#srchBar{
    padding-left: 10px;
    top: 0px;
    height: 44px;
    width: 75%;
    font-size: 15px;
    font-weight: inherit;
    background-color: #dbdbdb;
    border-width: 0px;
    font-family: fantasy;
}
#srchBtn{
    top: 0px;
    height: 46px;
    padding-bottom: 10px;
    width: 15%;
    background-color: #00c4ff;
    border-width: 0px;
    font-family: Arial ,sans-serif;
    font-size: 20px;
    color: white;
    border-left: 5px;
    border-color: #00c4ff;
}
.container{
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
    color: black;
}
.Catalog{
    width: 70%;
    margin-top: 20px;
    padding: 10px;
    font-family: Arial,sans-serif;
    font-size: 20px;
    color: #00c4ff;
    height: 150px;
    animation: anim_op 3s;
}